*.exe
*.dll
*.vs/
*.vscode/
UEVR/obj/
UEVR/bin/
UEVR/.vscode/
/backup.txt
/UpdateStatusView.xaml.txt
/VDWarnDialog.xaml.txt
/VersionSelector.xaml.txt
/VersionSelectorControl.xaml.txt
/vertlayoutsettings.txt
/WpfApp1/NotifyIcon/TrayContextMenu.xaml.cs
/x64/Debug/Dll1.pdb
/x64/Debug/uevr-stub.exp
/x64/Debug/uevr-stub.map
/x64/Debug/uevr-stub.pdb
/YesNoDialog.xaml.txt
/ConsoleApp1
/ConsoleApp2
/Dll1
/LoopingDetector
/lua-api
/namedpipestealer
/NativeTools
/uevr-ipc-stub
/MainWindow.xaml.txt
/MainWindowSettingsMenu.xaml.txt
/TrayContextMenu.xaml.txt
/UEVR/MainWindow.xaml.cs.2.txt
/UEVR/MainWindow.xaml_NEW.txt
/UEVR/MainWindowSettingsMenu.xaml.2.txt
/UEVR/MainWindowSettingsMenu.xaml.cs.2.txt
/UEVR/UpdateStatusView.xaml
/UEVR/UpdateStatusView.xaml.cs
/UEVR/Utils.cs.2.txt
/UEVR/VersionSelector.xaml.cs
/UEVR/VersionSelector.xaml
/UEVR/VersionSelectorControl.xaml
/UEVR/VersionSelectorControl.xaml.cs
